@model P309.Models.Projetos

@{
    ViewBag.Title = "Eliminar";
}


@*
    BeginForm() - Criação de um formulário para aceitar dados do utilizador. Utilização do método POST e processamento realizado pelo método de ação do controlador
    ActionLink() - retorna para a ação inserida
    TextBox() - Campo para inserção de um atributo do tipo texto
    DisplayFor() - exibição do valor do campo
    PagedListPager() - faz o output da paginação
*@

<h2>Eliminar projeto</h2>

<h3>Tem a certeza de que deseja eliminar este projeto?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Responsável @* Martelado pois DisplayFor não permite escolher um nome para o item a mostrar *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Número do Projeto @* Martelado pois DisplayFor não permite escolher um nome para o item a mostrar *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroProjeto)
        </dd>

        <dt>
            Área @* Martelado pois DisplayFor não permite escolher um nome para o item a mostrar *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            Data de Criação @* Martelado pois DisplayFor não permite escolher um nome para o item a mostrar *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeCriaçao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notas)
        </dd>

    </dl>

    @* Botões para eliminar e voltar *@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
